absl-py==0.7.1
certifi==2019.6.16
cycler==0.10.0
fastcache==1.1.0
jax==0.1.41
jaxlib==0.1.26
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
git+https://github.com/pyro-ppl/numpyro.git@6d9af73380fae3b6217c68601e7a979eb708494a#egg=numpyro
opt-einsum==3.0.1
protobuf==3.9.1
pyparsing==2.4.2
python-dateutil==2.8.0
scipy==1.3.1
six==1.12.0
tqdm==4.35.0
