absl-py==0.9.0
astroid==2.3.3
certifi==2019.11.28
cycler==0.10.0
fastcache==1.1.0
isort==4.3.21
jax==0.1.53
jaxlib==0.1.36
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
numpy==1.17.5
numpyro==0.2.3
opt-einsum==3.1.0
protobuf==3.11.2
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
tqdm==4.41.1
wrapt==1.11.2
